/* CSS reset */
*{
    margin: 0px;
    padding: 0px;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background: green;
  }
  
  .navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
  }
  
  .navbar::before{
    content: "";
    background-color: rgb(6, 249, 6);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
  }
  .navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    margin-left: 220px;
  }
  .navbar ul h3{
    margin-left: 60px;
  }
  
  .navbar ul li a{
    color: black;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
  }
  .navbar ul li a:hover{
    color: rgb(229, 11, 11);
    background-color: white;
  }
  
  #logo{
    margin: 0px 10px;
  }
  #logo img{
    height: 67px;
    margin: 3px 5px;
  }
  
  .image img{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 90%;
    z-index: -1;
    opacity: 0.9;
  }